@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* body */
.body {
    background-color: #F5F8FF;
}

/* shear btn */
.btn {
    padding: 17px;
    justify-content: center;
    border: none;
    border-radius: 15px;
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    font-weight: 700;
    transition: transform .2s;

}

.btn:hover {
    background-color: yellow;
    color: black;
    transform: scale(1.5)
}

/* header part  */
.header {
    background-image: url('./Assets/Hero-bg.png');
    width: 100%;
    height: 600px;
    left: 1px;
    margin-bottom: 100px;

}

/* header nav */
.header-nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 55px;
}

/* h1 */
.header-nav-h1 {
    color: #4E47FF;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 34px;
    border: 1px dashed #7e7e7e ;
}

.header-nav-div {
    justify-content: center;
    margin-top: 15px;
}

.header-nav-button {
    padding: 17px;
    justify-content: center;
    border: none;
    border-radius: 15px;
    background-color: #4E47FF;
    color: white;
    font-size: 16px;
    font-weight: 700;
    transition: transform .2s;


}

.header-nav-button:hover {
    background-color: yellow;
    color: black;
    transform: scale(1.5)
}

/* header-section-h1 */
.header-section {
    text-align: center;

}

.header-section-h1 {
    color: rgb(37, 36, 50);
    font-family: Raleway;
    font-size: 65px;
    font-weight: 700;
    line-height: 76px;
    letter-spacing: 0%;
    text-align: center;
    width: 905px;
    height: 237px;
    margin-top: 78px;
    margin-left: 230px;
    margin-right: 265px;


}




/* main */
.main {

    padding: 50px 100px;
    background-color: #F5F8FF;
}

/* main info */

.main-div-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.main-div-info {
    justify-content: center;
    margin-top: 65px;
}

.main-div-info-h1 {
    color: rgb(37, 36, 50);
    font-family: Raleway;
    font-size: 42px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0%;
    text-align: left;
}

.main-div-info-p {
    color: rgba(37, 36, 50, 0.5);
    font-family: Raleway;
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: left;
}

/* main-wc */
.main-wc {
    border-radius: 35px;
}

/* second-section */
.second-section {
    text-align: center;
    background-color: #4E47FF1A;
    padding: 25px;
    margin-bottom: 100px;
}

.second-section-info {
    display: flex;
    justify-content: center;
    gap: 80px;
}

.second-div-title {
    color: rgb(37, 36, 50);
    font-family: Raleway;
    font-size: 38px;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0%;
    text-align: center;
}

.second-section-info-detail-h1 {
    color: #4E47FF;
    font-family: Inter;
    font-size: 100px;
    font-weight: 700;
    margin: 0px;
    padding: 0px;

}

.second-section-info-detail-p {
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
}

/* user-say-revi */
.user-title {
    text-align: center;
    margin-bottom: 40px;
}

.user-title-h1 {
    color: rgb(37, 36, 50);
    font-family: Raleway;
    font-size: 42px;
    font-weight: 700;
    line-height: 49px;
    letter-spacing: 0%;
    text-align: center;
}

.user-say-revi {
    display: flex;
    gap: 25px
}

.user-say-revi-card {
    background-color: #ffff;
    padding: 25px;
}

.user-say-revi-card-info {
    margin: 5px;
    padding: 0px;
}

.user-say-revi-card-h3 {
    /* Heading */
    color: rgb(30, 30, 30);
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: -2%;
    text-align: left;
}

.user-say-revi-card-p {
    /* Body Base */
    color: rgb(30, 30, 30);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: left;
}

.user-say-revi-card-reviewer {
    display: flex;
    gap: 15px;
    color: rgb(117, 117, 117);
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
}

.reviewer-img {
    border: none;
    border-radius: 50px;
}

/* ready-to */
.ready-to {
    text-align: center;
    margin-top: 100px;
    padding: 71px 150px;
    background-color: #FFFFFF;
}

.ready-to-title {
    margin-bottom: 25px;
}

.ready-to-title-h1 {
    color: rgb(0, 0, 0);
    font-family: Raleway;
    font-size: 50px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;

}

.ready-to-title-p {

    /* Body Base */
    color: rgba(0, 0, 0, 0.5);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 140%;
    letter-spacing: 0%;
}

.ready-to-img {
    border: none;
    border-radius: 35px;
}

/* get-in-touch */
.get-in-touch {
    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 233px;
    padding: 71px 0px 71px 0px;
}

.get-in-touch-title {
    color: rgb(0, 0, 0);
    font-family: Raleway;
    font-size: 97px;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.lable {
    color: rgb(0, 0, 0);
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 5px;
}

.text-fild {
    position: static;
    width: 300px;
    height: 30px;
    justify-content: flex-start;
    padding: 5px 5px;
    border: 1px solid rgb(214, 221, 237);
    border-radius: 10px;
    background: rgb(255, 255, 255);
}

.textarea {
    width: 300px;
    height: 85px;
    gap: 10px;
    margin: 10px 0px;
    border: 1px solid rgb(214, 221, 237);
    border-radius: 10px;
    background: rgb(255, 255, 255);
}

.btn-edit {
    width: 300px;
    height: 62px;
    text-align: right;
}

.footer {
    text-align: center;
    margin: -50px 340px;
    padding: 5px;
}

.footer-link {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.footer-title {
    color: #4E47FF;
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 100px;
}

.footer-p-info {
    color: rgb(137, 135, 161);
    margin-top: -50px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}

.footer-link-info {
    text-decoration: none;
    color: rgb(137, 135, 161);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
}